{% extends 'base.html' %}
{% block page_css %}
    <style type="text/css" media="screen">
        #editor {
            position: relative;
            top: -15px;
            right: -1px;
            bottom: 0;
            left: -15px;
        }
    </style>
{% endblock %}
{% block main_page %}
<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-12">
        <div class="panel panel-default" style="height:500px">
          <div class="panel-heading">
              <select id="language_select" name="language" class="form-control" style="width:150px;">
                  {% for language in languages %}
                        <option value="{{ language.id }}">{{ language.name }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="panel-body">
            <input type="hidden" value="" id="hidden_slug"/>
            <pre id="editor" style="height:446px; width:650px">{{ sample_code }}</pre>
          </div>
          <div class="panel-footer">
              <button type="button" class="btn btn-primary navbar-btn" id="save"> Save </button>
              <button type="button" class="btn btn-warning navbar-btn" id="compile"><i class="fa fa-rocket"> Compile </i></button>
              <button type="button" class="btn btn-success navbar-btn" id="run"><i class="fa fa-play"> Run </i></button>
              <a href="download/" ><i class="fa fa-download"> Download </i></a>
          </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12">
        <h5 id="code_url_field">Save code atleast once to generate code shareable URL.</h5>
        <div class="panel panel-default" style="height:225px">
            <div class="panel-heading">
                Custom Input
            </div>
            <div class="panel-body"></div>
        </div>
        <div class="panel panel-default" style="height:225px">
            <div class="panel-heading">
                Compilation Log / Output
            </div>
            <div class="panel-body"></div>
        </div>
    </div>

</div>
{% endblock %}

{% block page_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    var EDITED = false;
    var SAVE_LOCK = false;
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/c_cpp");
    document.getElementById('editor').style.fontSize='14px';
    editor.getSession().setUseWrapMode(true);
    editor.setReadOnly(false);  // false to make it editable
    editor.$blockScrolling = Infinity
    editor.commands.addCommand({
        name: 'saveCommand',
        bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
        exec: function(exec_edit) {
            EDITED = true;
            $("#save").html("Saving...");
        },
    });
    $("#save").click(function(){
        EDITED = true;
        $("#save").html("Saving...");
        save_code();
    });
    editor.commands.addCommand({
         name: 'saveCommand',
         bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
         exec: function(editor) {
             $("#save").html("Saving...");
             save_code();
         },
    });
    $("#editor").bind("keyup change", function(e) {
        EDITED = true;
        $("#save").html("Saving...");
        save_code();
    });

    $("#language_select").change(function(){
        var item = $(this).val();
        set_language(item);
    });
    function set_language(item){
        $.ajax({
            type:'GET',
            url:'/sample/',
            data:"lang_id="+item,
            success:function(response){
                if(response.success){
                    if(!EDITED){
                        editor.setValue(response.sample);
                        editor.getSession().setMode("ace/mode/"+response.ace_mode);
                    }else{
                        editor.getSession().setMode("ace/mode/"+response.ace_mode);
                    }
                }
            }
        });
    }
    function save_code(){
        if(!SAVE_LOCK){
            SAVE_LOCK = true;
            $.ajax({
                type:'POST',
                url:'/save_code/',
                dataType:"json",
                data:{"lang_id":$("#language_select").val(),"code":editor.getSession().getValue(), "slug":$("#hidden_slug").val()},
                success:function(response){
                    if(response.success){
                        $("#hidden_slug").val(response.slug);
                        $("#save").html("Saved");
                        SAVE_LOCK = false;
                        $("#code_url_field").html("Code shareable URL : <a href='http://localhost/"+response.slug+"' target='_blank'>http://localhost/"+response.slug+"</a>");
                    }
                }
            });
        }

    }
</script>
{% endblock %}